asgiref==3.5.2
attrs==22.1.0
branca==0.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
django-filter==22.1
Django==4.1.4
exceptiongroup==1.0.4
fanstatic==1.2
folium==0.13.0
geographiclib==2.0
geopy==2.3.0
idna==3.4
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.23.5
packaging==22.0
Pillow==9.3.0
pip==22.3.1
pluggy==1.0.0
psycopg2-binary==2.9.5
pytest-django==4.5.2
pytest==7.2.0
requests==2.28.1
setuptools==65.6.3
shutilwhich==1.1.0
sqlparse==0.4.3
tomli==2.0.1
urllib3==1.26.13
WebOb==1.8.7
wheel==0.38.4
