{% extends 'home.html' %}
{% block content %}
    <div class="container">
        <a onClick="javascript:history.go(-1);" class="btn btn-dark" style="margin-top: 15px;">Back</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 15px;">
                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-outline-dark my-2" type="submit" value="Submit">
                    </form>
            </div>
        </div>

    </div>
{% endblock %}
