{% extends 'home.html' %}
{% block content %}
    <div class="container">
        <a onClick="javascript:history.go(-1);" class="btn btn-dark" style="margin-top: 15px;">Back</a>
    </div>

    <div class="container">
        <div class="card my-4" style="width: 32rem;">
            <div class="card-body">
                <h2 class="card-title my-2">{{ spot.name }} </h2>
                <h6 class="card-subtitle mb-2 text-muted">{{ spot.location }}, {{ spot.get_continent_display }}</h6>
                <p class="card-text">
                    <span class="text-decoration-underline">Information about spot:</span><br>
                    Spot type: {{ spot.get_spot_type_display }}<br>
                    Best wind direction: {{ spot.get_best_wind_display }}<br>
                    Swell: {{ spot.get_swell_size_display }}<br>
                    Waves: {{ spot.get_wave_type_display }}, {{ spot.get_wave_direction_display }}
                    direction<br>
                </p>
                <p class="card-text">
                    <span class="text-decoration-underline">Additional information:</span><br>
                    Crowd factor: {{ spot.get_crowd_display }}<br>
                    Best season: {{ spot.get_best_season_display }}<br>
                    Entry surfing level: {{ spot.get_difficulty_display }}<br>
                </p>
                <p class="card-text">
                    <span class="text-decoration-underline">Dangers:</span><br>
                    {% for danger in spot.danger.all %}
                        {{ danger.name }}<br>
                    {% endfor %}
                </p>
                <p class="card-text"><span
                        class="text-decoration-underline">Description:</span><br> {{ spot.description }}</p>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="col-m-9">
            <div class="row m-2">
                <h3>Photo galery:</h3>
                {% for photo in photos %}

                    <div class="card m-2" style="width: 18rem;">
                        <img class="rounded" style="margin: 15px; height: 223px; width: 233px; object-fit: cover;"
                             src="{{ photo }}" alt="{{ photo }}">
                        <div class="card-body">
                            <p class="card-text">@{{ user.username }}</p>
                            <p class="card-text">{{ photo.date }}</p>
                        </div>
                    </div>
                {% empty %}
                    <h4>No photos in galery :((</h4>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br><h5>Add Image:</h5>
                <form method="post" action="{% url 'add-photo' spot.id %}">
                    {% csrf_token %}
                    {{ form_2.as_p }}
                    <input class="btn btn-outline-dark my-2" type="submit" value="Post photo!">
                </form>
            </div>
        </div>
    </div>

{% endblock %}