{% extends 'home.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <a onClick="javascript:history.go(-1);" class="btn btn-dark" style="margin-top: 15px;">Back</a>
    </div>
    <div class="container my-3">
        <h1>Surfers</h1>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="col-md-12" style="margin-top: 15px; max-width: 700px">
                        <h3 class="my-3">Search for surfer</h3>
                        <div class="form-control my-3">
                            <form method="get" class=" m-4" class="form-control">
                                {% csrf_token %}
                                {{ filter.form.as_p }}
                                <input class="btn btn-outline-dark " type="submit" value="Submit"/> <input type="reset" class="btn btn-outline-dark " value="Reset" style="margin-left: 15px;"/>
                            </form>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col-md-12" style="margin-top: 15px; margin-left: 200px; width: 684px; ">

                        <h3 class="my-3">Results</h3>
                        {% for user in filter.qs %}
                            <div class="card my-2">
                                <div class="card-body">
                                    <div class="card-text">
                                        <a href="{% url 'profile' user.id %}" class="text-decoration-none text-dark">@{{ user.username }}</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="card my-2">
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>No surfer with such a nick</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

